<% provide :title, "About Us" %>

<div class="span8 offset2">
  <h1>About Us</h1>
  <p>This application was develop to help everyone
   who want to learn the language but don't have 
   the time to take class so that they can learn 
   online when they have free time.</p>
</div>