<% provide :title, "Contact Us" %>

<div class="span8 offset2">
  <h1>Contact Us</h1>
  <p>You can contact us through 
  <a href="https://facebook.com/PrinceNorin">Facebook</a> or 
  <a href="https://twitter.com/NorinHor">Twitter</a></p>
</div>