@import 'bootstrap';

/* top navigation bar */
#top {
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#logo {
  float: left;
  padding: 10px;
}
#top-nav {
  float: right;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  li {
    float: left;
    padding: 0 10px;
    padding-top: 20px;
    font-size: 1.1em;
  }
}

#main {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}

#home {
  #user {
    border-radius: 5px;
    border: 1px solid #eee;
    h2 {
      text-align: center;
      text-transform: capitalize;
      a {
        color: #000;
      }
    }
    img {
      padding: 2% 2%;
      width: 96%;
      height: 150px;
      text-align: center;
      border-top: 1px solid #eee;
    }
  }
}

#error_messages {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  li {
    color: red;
  }
}

#profile {
  border-radius: 5px;
  border: 1px solid #eee;
  div {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    p {
      label {
        width: 35%;
        display: inline-block;
      }
      padding: 0;
      margin: 0;
      &:first-child {
        padding-bottom: 20px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;
        label {
          font-size: 1.5em;
          text-transform: capitalize;
          text-align: center;
        }
      }
    }
  }
}

#activities {
  border-radius: 5px;
  border: 1px solid #eee;
  h2 {
    text-align: center;
  }
  ul {
    list-style: none;
    margin-left: -3px;
    li {
      padding: 10px 20px;
      border-bottom: 1px solid #eee;
      &:first-child {
        border-top: 1px solid #eee;
      }
      i {
        margin-right: 7px;
      }
    }
  }
}

#notification {
  text-align: center;
}

#word_list {
  ul {
    list-style: none;
  }

  form {
    div {
      float: left;
      margin: 5px;
    }
    span {
      position: relative;
      top: -2px;
      padding-left: 2px;
      padding-right: 7px;
    }
  }

  table {
    margin-top: 20px;
  }
}

#word_answers {
  .radio {
    input, label {
      float: left;
    }
    label {
      margin-top: -1px;
      margin-left: 7px;
    }
    margin-bottom: 20px;
    overflow: hidden;
  }
  div {
    clear: both;
  }
}

#categories {
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  label {
    text-align: center;
    font-style: italic;
  }
}

#lessons {
  div {
    overflow: hidden;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    h4, label, a {
      float: left;
      margin-left: 20px;
    }
    label {
      margin-top: 10px;
      font-style: italic;
    }
    a {
      margin-top: 5px;
      float: right;
      width: 130px;
    }
  }
}

#lesson form {
  div {
    display: none;
    input[type=radio] {
      display: inline-block;
      padding: 0;
      margin-right: 15px;
      margin-top: -4px;
    }
    span {
      display: inline-block;
      padding: 0;
      margin-top: 10px;
    }
    &:nth-child(2) {
      display: block;
    }
  }
}

#result {
  .lesson {
    clear: both;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    div {
      display: none;
      table {
        clear: both;
      }
    }
  }
}

#footer {
  overflow: hidden;
  ul {
    list-style: none;
    float: right;
    margin: 10px 0;
    li {
      float: left;
      margin: 0 10px;
    }
  }
}

.field_with_errors {
  input {
    border-color: red; 
  }
}

.radio {
  padding-top: 7px;
  input {
    margin: 0;
    margin-left: 2px;
  }
}