<h3><%= category.name %></h3>
<label><%= "You have learned #{category.results}/#{category.words.count}" %></label>
<p><%= category.description %></p>
<%= link_to "Start Lesson", "#", class: "btn btn-meduim" %>
<hr />